<tr id='employee_<%= employee.id %>'>
    <td><%= employee.first_name %></td>
    <td><%= employee.last_name %></td>
    <td><%= employee.email_address %></td>
    <td><%= employee.phone_number %></td>
    <td><%= employee.salary %></td>
    <td><%= employee.department.name %></td> 
    <td>
        <%= link_to 'Edit department',  '#', 'data-target' => "#myModal_#{employee.id}", 'data-toggle' => 'modal'  %>
          <div class="modal fade" id='<%= "myModal_#{employee.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                  <%= render 'employees/form', employee: employee %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
    </td>  
</tr>